.scroll-trap {
    position: relative;
    width: 100%;
    height: auto;

    .panel-wrapper {
        width: 100%;
        height: 100vh;
        position: relative;
        background: #000;
        overflow: hidden;
    }

    .targetImage{
        width: 100%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(200%);
        @media screen and (min-width: 768px){
            width: 80%;
            height: auto;
        }
    }

    .panel {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease-out;
        font-size: 32px;
        color: #fff;
        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 2;
        }

        .panel-text{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            text-align: center;
            &.top{
                justify-content: flex-start;
                padding-top: 100px;
                @media screen and (min-width: 768px){
                    padding-top: 60px;
                }
            }
        }
    }

    .trigger {
        position: absolute;
        left: 0;
    }

    #trigger1 {
        top: 100vh;
    }

    #trigger2 {
        top: 200vh;
    }

    #trigger3 {
        top: 300vh;
    }
}